@import url("https://fonts.googleapis.com/css?family=Public Sans");

html,
body {
  background-color: lightgray;
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
