.container {
  width: 100%;
  text-overflow: ellipsis;
  background: darkgrey;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message {
  align-self: center;
}