.gridContainer {
  display: grid;
  padding: 15px;
  grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
  gap: 25px;
}

.messageContainer {
  width: 100%;
}

.submitBox {
  display: flex;
  flex-direction: column;
}